#tooltip {
    position: absolute;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.non-selectable {
    user-select: none; /* Prevents text selection */
  pointer-events: none; /* Prevents mouse events, including selection */
}

.resize-handle {
    pointer-events: all;
    cursor: nwse-resize;
}

.sticky-note div {
    outline: none;
}

.sticky-text.view-mode {
    user-select: none;
    pointer-events: none;
}

.sticky-text.edit-mode {
    user-select: text;
    pointer-events: all;
}
